<div class="jumbotron">
  <h1 class="display-4">Doran's Book</h1>
  <p class="lead">The only League of Legends tool you'll need to defeat your opponents.</p>
    <form action="/" method="POST">
      <div class="form-group name-entry-form">
      <label for="summonerEntry">Summoner Name</label>
      <input type="text" class="form-control" id="summonerEntry" placeholder="Enter Summoner Name" name="summonerName">
      </div>
      <button type="submit" class="btn btn-primary col-4">Search</button>
    </form>
</div>