<div class="champ-header">
    <h3>Champion: {{champName}}</h3>
    <div class="champ-img">
        {{{champImg}}}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="popItems">
            {{{stuff}}}
        </div>
    </div>

    <div class="col-md-6">
        <div class="popItems">
            {{!-- {{#each imgLink}} --}}
            {{{imgLink}}}
            {{!-- {{/each}} --}}
        </div>
    </div>

</div>