<div class="champ-header">
    <h1>{{champName}}</h1>
    <h2>Try <b>Ekko</b>, <b>Zed</b>, or <b>Darius</b> to see a populated comment section</h2>
</div>

<div class="champ-list">
    {{!-- Insert champ list from riot api? --}}
    {{mostPlayed}}
</div>