<div class="champ-header">
    <h3>Champion: {{champName}}</h3>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="popItems">
            {{!-- need a list --}}
            <div id="popItems">

            </div>
        </div>
    </div>

    <div class="col-md-6">

    </div>

</div>