* {
    text-align: center;
    width: 100%;
}

.name-entry-form {
    margin: 0 auto;
}

.btn {
    margin: 10px;
    width : 100px;
}

#champEntry {
    width: 200px;
    margin: 0 auto;
}

.champ-header {
    margin: 0 auto;
    text-decoration: underline;
    width: 40%;
}

.bigData {
    margin: 10px;
    border: 2px solid black;
}

.champ-img {
    width: 200px;
    height: 200px;
}

.item {
    width: 64px;
    height: 64px;
}