* {
    text-align: center;
    width: 100%;
}

.name-entry-form {
    margin: 0 auto;
}

.btn {
    margin: 10px;
    width : 100px;
}

#champEntry {
    width: 200px;
    margin: 0 auto;
}

.champ-header {
    margin: 0 auto;
    text-decoration: underline;
    width: 40%;
}