* {
    text-align: center;
    width: 100%;
}

.name-entry-form {
    margin: 0 auto;
}

.select-hidden {
    display: none;
}

.comment-box {
    margin-top: 80px;
}

#comment {
    text-align: left;
    width: 680px;
    height: 100px;
    margin: 0 auto;
}

.sample-section {
    margin: 20px auto;
}

.select-sample {
    width: 100px;
}

.comment-title {
    margin: 0 auto;
}

.btn {
    margin: 10px;
    width : 100px;
}

#champEntry {
    width: 200px;
    margin: 0 auto;
}

#poster {
    width: 200px;
    margin: 10px auto;
}

.champ-header {
    margin: 20px auto;
    padding: 10px;
    width: 100%;
    background-color: #3F4045;
    color: #FFF;
    border-radius: 5px;
}

.champ-img {
    width: 150px;
    height: 150px;
    margin: 15px auto;
    border: 3px solid #355691;
}

.item {
    width: 64px;
    height: 64px;
}

.item-ul li {
    border: 2px solid black;
    padding: 5px;
    margin: 5px auto;
    width: 210px;
    border-radius: 5px;
}

.item-ul {
    /* -moz-column-count: 2;
    -moz-column-gap: 15px;
    -webkit-column-count: 2;
    -webkit-column-gap: 15px;
    column-count: 2;
    column-gap: 15px; */
    display: -ms-flexbox;           /* IE 10 */
    display: -webkit-flex;          /* Safari 6.1+. iOS 7.1+ */
    display: flex;
    -webkit-flex-flow: wrap column; /* Safari 6.1+ */
    flex-flow: wrap column;
    max-height: 680px;              /* Limit height to whatever you need */
}

.forum-div {
    margin: 15px auto;
    border: 2px solid black;
    border-radius: 5px;
    width: 480px;
}

#time-li {
    font-size: 9px;
    text-align: left;
}

#post-name {
    background-color: #355691;
    color: #fff;
    padding: 10px;
}

#post-div {
    padding: 15px;
    text-align: left;
}

.home {

}

.container {
    margin: 0 auto;
    text-align: center;
    width: 960px;
    max-width: 100%;
}


/* Media Query */
/*
@media only screen and (max-width: 600px) {
    ul {
        /* -moz-column-count: 2;
        -moz-column-gap: 15px;
        -webkit-column-count: 2;
        -webkit-column-gap: 15px;
        column-count: 2;
        column-gap: 15px; */
        /* display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: wrap column;
        flex-flow: wrap column;
        max-height: 680px;
    }
} */